<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Sistem Proses Produksi Manufaktur</title>
</head>


<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10" style="text-align: center;">
      <br>
      <h1>Portal Produk Sistem Proses Produksi Manufaktur</h1>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/homepage.css">
<div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-industry fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Basic</h4>
						</div>
                        
						<div class="text">
							<span>
                <ul>
                  <li>Pencatatan Gudang</li>
                  <li>Pencatatan Bill Of Material</li>
                  <li>Pencatatan Work Center</li>
               </ul>
              </span>
						</div>
                        
						<a href="cat1/masterMaterial.html">Generate</a>
                        
					</div>
				</div>	 
				
				 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa fa-industry fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Standard</h4>
						</div>
                        
						<div class="text">
							<span>
                <ul>
                  <li>Pencatatan Gudang</li>
                  <li>Pencatatan Bill Of Material</li>
                  <li>Pencatatan Work Center</li>
                  <li>Pencatatan Proses Produksi Tunggal</li>
                  <li>Proses Quality Control</li>
               </ul>
              </span>
						</div>
                        
						<a href="cat2/masterMaterial2.html">Generate</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-industry fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Managed</h4>
						</div>
                        
						<div class="text">
							<span>
                <ul>
                  <li>Pencatatan Gudang</li>
                  <li>Pencatatan Bill Of Material</li>
                  <li>Pencatatan Work Center</li>
                  <li>Pencatatan Proses Produksi Berganda</li>
                  <li>Proses Quality Control</li>
                </ul>
             </span>
						</div>
                        
						<a href="cat3/masterMaterial3.html">Generate</a>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-industry fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Optimized</h4>
						</div>
                        
						<div class="text">
							<span>
                <ul>
                  <li>Pencatatan Gudang</li>
                  <li>Pencatatan Bill Of Material</li>
                  <li>Pencatatan Work Center</li>
                  <li>Pencatatan Proses Produksi Berganda</li>
                  <li>Proses dan Pencatatan Barang Reject di Setiap Proses Produksi</li>
                  <li>Proses Quality Control</li>
                </ul>
             </span>
						</div>
                        
						<a href="cat4/masterMaterial4.html">Generate</a>
                        
					 </div>
				</div>	 
                        
					 </div>
				</div>
		
		</div>		
    </div>
</div>